---
import Container from "./container.astro";
import { Icon } from "astro-icon";
---

<footer class="border-t py-8">
  <Container styles="flex justify-between items-center">
    <p class="text-sm text-gray-600 font-light">made with love by me.</p>
    <a href="#github-repository" class="p-1 hover:bg-gray-100 rounded-md">
      <Icon name="mdi:github" class="w-6 h-6" />
    </a>
  </Container>
</footer>
