---
import PageLayout from "../layouts/page-layout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>
  </head>
  <body>
    <div
      class="flex flex-col h-screen w-full justify-center items-center space-y-3"
    >
      <h1 class="text-3xl font-bold">Page u re lookin for not found.</h1>
      <a href="/" class="hover:underline">Go back</a>
    </div>
  </body>
</html>
